* {
	box-sizing: border-box;
	color: white;
}

body {
	
	background: rgb(5, 3, 37);
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 55%, rgb(7, 7, 54) 83%, rgb(9, 13, 49) 100%);
}

main {
	display: flex;
	justify-content: center;
	animation: fadeInLeft;
	animation-duration: 1s;
	padding: 0.5rem 1rem;
	width: 100%;
}

/***************************/
/*           FORM          */
/***************************/
.titulo-flecha {
	font-size: 2rem;
}

.formulario {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border: 2px solid rgb(148, 149, 150);
	border-radius: 5px;
	background-color: #0f0f0f83;
	width: 70%;
}

.formulario:hover {
	box-shadow: 5px 0px 45px rgba(31, 56, 199, 0.877);
}

.formulario__label {
	display: block;
	font-weight: 1rem;
	padding: 1rem;
}

.formulario__grupo-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#grupo__terminos {
	text-align: center;
	margin-top: 1rem;
}

.formulario__input {
	width: 90%;
	background: #97959523;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	cursor: pointer;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.parrafo {
	text-align: center;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario_iniciar_sesion {
	color: #0075FF;
	text-decoration: none;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #850909;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	margin-top: 1.5rem;
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #0907636c;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
	margin: 2rem 0;
}

.formulario__btn:hover {
	-webkit-box-shadow: 0px 0px 9px 1px #fff8f865;
	box-shadow: 0px 0px 9px 1px #fff8f87e;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/***************************/
/*         FIN FORM        */
/***************************/


/***************************/
/*    MEDIA QUERY (648px)   */
/***************************/
@media(max-width:648px) {
	.titulo-flecha {
		font-size: 1.5rem;
	}

	.formulario {
		width: 100%;
		margin: 1rem 1rem 1rem 1;
	}

	.formulario__label {
		font-size: 1rem;
	}

	label {
		font-size: 0.8rem;
	}
}

/***************************/
/*    MEDIA QUERY (474px)   */
/***************************/
@media(max-width:474px) {
	.titulo-flecha {
		font-size: 1.2rem;
	}

	i {
		font-size: 1rem;
	}

	form {
		width: 100%;
		margin: 1rem 1rem 1rem 1;
	}

	.mensajes-ayuda {
		font-size: 0.8rem;
	}

	.formulario__label {
		font-size: 0.8rem;
	}

	label {
		font-size: 0.6rem;
	}
}