.navbar-steam {
    background-color: #1b2838;
}
.navbar-steam {
    color: #fff;
}
.navbar-steam .navbar-nav .nav-link {
    color: #c1c5c8;
}
.navbar-steam .navbar-nav .nav-link:hover {
    color: #fff;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1b2838;
}
main{
    flex-grow: 1;

}

footer{
    background-color: #23262E;
}
  