* {
  margin: 0;
  padding: 0;
}

.imagenHeroe {
  height: 500px;
  object-fit: cover;
}
.carouselImagenes {
  height: 400px;
  object-fit: cover;
}

.ajusteImagenpublicidadPequeña {
  height: 80px;
  object-fit: cover;
}

.ajusteImagenpublicidadGrande {
  height: 400px;
  object-fit: cover;
}


.categoriasImg {
    height: 191px;
    object-fit:cover;
  }
  
  .botonVerMasYCarrito {
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
  }